<a href="/categorias/nova">Nova Categoria</a> <br /> <br />
<% categorias.forEach( categoria => { %>
    <%= categoria.categoria %> 
    <a href="/categorias/editar/<%= categoria.id %>">Editar</a> 
    <a href="/categorias/excluir/<%= categoria.id %>">Exclui</a> <br />
<% }) %>